.ai-navigator/
.anaconda/
.bash_history
.conda/
.condarc
.continuum/
.docker/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.ssh/
.viminfo
.virtual_documents/
1_module_git/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
GitHab_SkillBox/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{711443d8-69f2-11ee-9199-b42e99368e3b}.TM.blf
NTUSER.DAT{711443d8-69f2-11ee-9199-b42e99368e3b}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{711443d8-69f2-11ee-9199-b42e99368e3b}.TMContainer00000000000000000002.regtrans-ms
Pictures/
PycharmProjects/
Saved Games/
Searches/
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
Untitled4.ipynb
Untitled5.ipynb
Untitled6.ipynb
Videos/
airflow-docker/
airflow_hw_20241209.7z
airflow_hw_20241211.7z
anaconda3/
docker-compose.yml
gitlab.skillbox.ru/
init/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
word_freq.txt
xbox-game-bar-7-124-5142-0.appxbundle